@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

*{
    --color-primary: rgba(237, 199, 183,0.8);
    --color-primary-dark: rgba(238, 226, 220);
    --color-secondary: rgba(186, 178, 181);
    --color-one:rgba(18, 60, 105) ;
    --color-two: rgba(172, 59, 97);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
    display: grid;
    background-color: var(--color-primary);
    background-image: url("res/guillaume-galtier-3YrppYQPoCI-unsplash.jpg");
    align-content: center;
    min-height: 100vh;
}
.help, .about, .home, .login{
    border:solid var(--color-primary-dark);
    margin-left: 2rem;
    width: 10rem;
    height: 4rem;
    transform:translateY(1.3rem);
    background-color:var(--color-primary);
    
    cursor:pointer;
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--color-two);
    border-radius: 0.5rem;
    
}
#ac{
    background-color:var(--color-primary-dark) ;
}
.login{
    margin-right: 20px;
}
.home:hover{
    background-color:var(--color-primary-dark) ;
}
.act{
    background-color:var(--color-primary-dark) ;
}
.about:hover{
    background-color:var(--color-primary-dark) ;
    
}
.login:hover{
    background-color:var(--color-primary-dark) ;
}
.help:hover{
    background-color:var(--color-primary-dark) ;
}
.home:active {
    background:var(--color-primary-dark);
    
     outline: none;
}
.login:active {
    background:var(--color-primary-dark);
    
     outline: none;
}
.about:active {
    background:var(--color-primary-dark);
     outline: none;
}
.help:active {
    background:var(--color-primary-dark);
     outline: none;
}

.menu{
    
    background-color: var(--color-primary);
    
    width: 100%;
    height: 7rem;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
   
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
}
.image{
    background: url("res/day-planner-828611_640.jpg") center/cover no-repeat;
}
.content{
    background: var(--color-primary-dark);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    size: 5rem;
}
.content h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.content span{
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}
.content p{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
}
.links{
    margin: 15px 0;
}
.links li{
    border: 0.5px solid #777;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}
.links li a{
    text-transform: uppercase;
    color: #777;
    text-decoration: none;
}
.links li:hover{
    border-color: var(--color-two);
}
.links li:hover a{
    color :var(--color-two);
}
.vertical-line{
    height: 30px;
    width: 0.5px;
    background: #777;
    margin: 0 auto;
}
.icons{
    display: flex;
    padding: 15px 0;
}
.icons li{
    display: block;
    padding: 5px;
    margin: 5px;
}
.icons li i{
    font-size: 26px;
    opacity: 0.8;
}
.icons li i:hover{
    color: #06d6a0;
}


/*****************/

@media(max-width: 992px){
    section{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .image{
        height: 100vh;
    }
    .content{
        height: 100vh;
    }
    .content h2{
        font-size: 20px;
        margin-top: 50px;
    }
    .content span{
        margin: 20px 0;
    }
    .content p{
        font-size: 14px;
    }
    .links li a{
        font-size: 14px;
    }
    .links{
        margin: 5px 0;
    }
    .links li{
        padding: 6px 10px;
    }
    .icons li i{
        font-size: 15px;
    }
}