*{
    --color-primary: rgba(237, 199, 183,0.8);
    --color-primary-dark: rgba(238, 226, 220);
    --color-secondary: rgba(186, 178, 181);
    --color-one:rgba(18, 60, 105) ;
    --color-two: rgba(172, 59, 97);
}
.main{
    width: 100%;
    align-items: center;
    display: grid;
    position: relative;
    
}
.help, .about, .home, .login{
    border:solid var(--color-primary-dark);
    margin-left: 2rem;
    width: 10rem;
    height: 4rem;
    transform:translateY(1.3rem);
    background-color:var(--color-primary);
    
    cursor:pointer;
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--color-two);
    border-radius: 0.5rem;
    
}
#ac{
    background-color:var(--color-primary-dark) ;
}
.login{
    margin-right: 20px;
}
.home:hover{
    background-color:var(--color-primary-dark) ;
}
.act{
    background-color:var(--color-primary-dark) ;
}
.about:hover{
    background-color:var(--color-primary-dark) ;
    
}
.login:hover{
    background-color:var(--color-primary-dark) ;
}
.help:hover{
    background-color:var(--color-primary-dark) ;
}
.home:active {
    background:var(--color-primary-dark);
    
     outline: none;
}
.login:active {
    background:var(--color-primary-dark);
    
     outline: none;
}
.about:active {
    background:var(--color-primary-dark);
     outline: none;
}
.help:active {
    background:var(--color-primary-dark);
     outline: none;
}

.menu{
    
    background-color: var(--color-primary);
    
    width: 100%;
    height: 7rem;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
   
}
.container{
    margin-top: 10rem;
    width: 50%;
    height: 75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-13rem);
    position: absolute;
    
    
}
.sub{
    transform: translate(37rem,60rem);
}
.sub img{
    transform: translateX(105rem);
}
.productive{
    transform: translate(-15rem,60rem);
    
    margin-left: 9.5rem;
    margin-top: 3rem;
    color: var(--color-two);
    transform-style: preserve-3d;
    width: 70rem;
    font-size:6rem;
    
    
}
body{
    font-family: "Poppins", sans-serif;
    display: flex;
    min-height: 100vh;    
    
    background-color: var(--color-primary);
    /* background-image: url(res/wp5981175-pink-cloud-aesthetic-desktop-wallpapers.jpg); */


}
.welcome{
    position: absolute;
    right: -1300px;
    font-size: 4rem;
    color: var(--color-two);
    align-items: center;
    
    justify-content: center;
    
}

.title{
    margin-left: 9.5rem;
    margin-top: 3rem;
    color: var(--color-two);
    transform-style: preserve-3d;
}
.circle{
    width: 30rem;
    height: 30rem;
    position: absolute;
    background: linear-gradient(
        to right, rgba(4, 133, 122, 0.75), rgba(167, 97, 17, 0.75)
    );
    border-radius: 50%;
    
}
.card{
    min-height: 80vh;
    width: 49rem;
    
    border-radius: 30px;
    
    
}
.butt1, .TD{
    margin-right: 30rem;
}

.butt1:hover{
    background-color:var(--color-primary-dark) ;
}
.TD:hover{
    background-color:var(--color-primary-dark) ;
}
.butt1{
    outline: none;
    background: var(--color-primary);
    transition: background 0.2s, border-color 0.2s;
    width: 30%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--color-two);
    border:solid var(--color-primary-dark);
    transform: translateX(27rem);
    outline: none;
    cursor: pointer;
    
    border-radius: 0.6rem;
    margin-top: 3rem;
    height: 6rem;
}
.TD{
    outline: none;
    background: var(--color-primary);
    transition: background 0.2s, border-color 0.2s;
    width: 30%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--color-two);
    border:solid var(--color-primary-dark);
    transform: translate(10rem,60rem);
    outline: none;
    cursor: pointer;
    
    border-radius: 0.6rem;
    margin-top: 3rem;
    height: 6rem;
}
.info{
    font-size:2rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(50rem);
    
    
}
.start{
    padding: 3rem;
    display: flex;
    margin: 2rem;
    margin-top: 0rem;
    margin-left: 5rem;
    margin-bottom: 10rem;
    justify-content: space-between;
    transform-style: preserve-3d;
}

.sign, .log{
    margin: 2rem;
    width: 10rem;
    padding: 2rem;
    align-items: center;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
    border-radius: 30px;
    font-weight: bolder;
    color: #585858;
    transform: translate(0rem, -1rem);
    
}

.layer img{
    width: 35rem;
    z-index: 3;
    transform: translate(-3rem, -1.5rem);
}
.layer{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(73rem);
    border-radius: 30px;
}